#LRform {
    position: absolute;
    height: 90vh;
    width: 100vw;
    top: 10vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#LRformbody {
    display: flex;
    flex-direction: column;
    height: 40vh;
    border: 1px black solid;
    justify-content: space-between;
    padding: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Add some space between fields */
}

label {
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold;
}

input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Full width of container */
}

.passwordContainer {
    position: relative;
}

.passwordToggleIcon {
    position: absolute;
    right: 10px;
    top: 35px; /* Align icon with input box */
    cursor: pointer;
    color: #888;
}

.passwordToggleIcon:hover {
    color: #000;
}

#enterContainer {
    display: flex;
    justify-content: center;
}

#enterForm {
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    background-color: green;
    border-radius: 4px;
    color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    cursor: pointer; /* Ensure the button looks clickable */
}

#emptyTruckIcon {
    font-size: 25px;
    color: rgb(0, 0, 0);
    transition: transform 0.3s ease, color 0.3s ease;
}

#fullTruckIcon {
    font-size: 25px;
    color: rgb(255, 238, 0);
}

@keyframes moveTruckRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

#emptyTruckIcon.animate {
  animation: moveTruckRight 1s forwards;
}
